:host {
  background: #fafafa;
  flex-direction: column;
  display: flex;
}
.examples {
  margin: 0 5%;
  mat-toolbar {
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h2 {
      font-size: 15px;
    }
  }
  h2 {
    text-align: center;
    margin: 30px;
  }
  h3 {
    text-align: center;
    color: #2196f3;
    margin: 10px;
  }
  mat-form-field {
    margin: 15px;
  }
  mat-card {
    padding: 0;
    margin: 15px;
    height: auto;
  }
  .basic-examples {
    min-height: 300px;
    > div {
      min-width: 300px;
      min-height: 300px;
    }
  }

  .form-infos {
    margin: 0 15px;
    h4 {
      margin: 10px 0;
    }
    .form-info {
      margin-bottom: 10px;
      span:last-child {
        font-weight: bold;
      }
    }
    pre {
      overflow: hidden;
      text-overflow: ellipsis;
      background: #eeee;
      padding: 10px;
    }
  }
}
