materia-monaco-editor {
    margin: 5px;
}
h3 {
    text-align: center;
    color: #2196F3;
    margin: 10px;
}
h2 {
    text-align: center;

}
mat-card {
    padding: 10px 0 0 0;
    margin: 15px;
}
mat-form-field {
    margin: 15px;
}
pre {
  background: #EEEE;
  padding: 10px;
}
